<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MWAuthorizationServer.MWAuthorizationImpl">
        <endpoint address="" behaviorConfiguration="restfulBehavior" binding="webHttpBinding" contract="MWAuthorizationServer.IMWAuthorizationServer">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>

    <!--Ayush Edit Begins-->
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <!--Ayush Edit Ends-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".config" mimeType="text/xml" />
    </staticContent>
  </system.webServer>
  <!--<connectionStrings>
    <add name="MWOAuthDBEntities" connectionString="metadata=res://*/MWOAuthDB.csdl|res://*/MWOAuthDB.ssdl|res://*/MWOAuthDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MWOAuthDB;user id=sa;password=Me9awardr0be!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
<connectionStrings><add name="MWOAuthDBEntities" connectionString="metadata=res://*/MWOAuthorizationDB.csdl|res://*/MWOAuthorizationDB.ssdl|res://*/MWOAuthorizationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MWOAuthDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
<!--</configuration>-->